# Firebase Project: nexora-ai-c130d (NEXORA-AI)
VITE_API_BASE_URL=
VITE_FIREBASE_API_KEY=AIzaSyRjFsQfV6_j8r1DrD-9fTvC3rtOCQHaKeF
VITE_FIREBASE_AUTH_DOMAIN=nexora-ai-c130d.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=nexora-ai-c130d
VITE_FIREBASE_STORAGE_BUCKET=nexora-ai-c130d.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=574809477623
VITE_FIREBASE_APP_ID=1:574809477623:web:327cafe14dc1cfceed09ef2
