# Firebase Project: nexora-ai-c130d (NEXORA-AI)
VITE_API_BASE_URL=http://localhost:8000/api
VITE_FIREBASE_API_KEY=AIzaSyBjfsQFV6_j0rJGzO-9FfvC3rt0C9HmKeE
VITE_FIREBASE_AUTH_DOMAIN=nexora-ai-c130d.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=nexora-ai-c130d
VITE_FIREBASE_STORAGE_BUCKET=nexora-ai-c130d.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=524889477623
VITE_FIREBASE_APP_ID=1:524889477623:web:3276afd14dc1cfeed89ef2
